{% extends "layout.html" %}

{% block title %}
    Play! History
{% endblock %}
{% block main %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    function result() {
        if (document.getElementById("correct").checked) {
            $(function() {
                $.get("/addscore");
            })
            alert("Correct!");
            // also find a way to increase user's score!
        }
        else {
            alert("Wrong!");
        }
    }

    // ensure form isn't submitted multiple times
    $("body").on("submit", "form", function() {
        $(this).submit(function() {
            return false;
        });
        return true;
    });
</script>
<style>
    #bgpic {
        background-image: url("/static/historypic.jpg");
        background-size: cover;
        background-origin: content-box;
    }
</style>
<br>
<div class="container questionstyle">
    <img src="/static/history.png" style="width: 275px; height: 200px">
</div><br>
<div id="bgpic">
<div id="trans">
<form action = "/playhistory" method="get">
    <div class="form-group questionbody" style="color:white;"><br>
        <h1>{{ question }}</h1><br><br><br>
        <div class="answer">
            <input type="radio" class="choice" name="answer" id="correct"> {{ correct }}
        </div>
        <div class="answer">
            <input type="radio" class="choice" name="answer" id="wrong1"> {{ wrong1 }}
        </div>
        <div class="answer">
            <input type="radio" class="choice" name="answer" id="wrong2"> {{ wrong2 }}
        </div>
        <div class="answer">
            <input type="radio" class="choice" name="answer" id="wrong3"> {{ wrong3 }}
        </div>
    </div><br>
</form>
<form action="/playhistory" method="post" onsubmit="result()">
    <div class="form-group questionstyle">
        <button class="btn btn-primary" type="submit">Answer</button>
    </div>
</form><br>
</div>
</div>
<br><br><br>
{% endblock %}