<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link href='/static/favicon.ico' rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>Trivia {% block title %}{% endblock %}</title>

    </head>

    <body class="bg">
        <nav class="navbar navbar-expand-sm bg-transparent justify-content-center" style="box-shadow: 2px 2px 2px black; margin-right: 2px;">
            <a class="navbar-brand" href="/" style="font-size: 40px; text-shadow: 2px 2px 2px black;"><span class="yellow"><img src="/static/logo.png" style="width:90px; height:65px;"></span></a>
            <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbar" data-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                {% if session.user_id %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/play"><span style="font-size: 32px; text-shadow: 2px 2px 2px black;" class="navtext">Play</span></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/playhistory">History</a>
                                <a class="dropdown-item" href="/playmoviestv">Movies/TV</a>
                                <a class="dropdown-item" href="/playpopculture">Pop Culture</a>
                                <a class="dropdown-item" href="/playscience">Science</a>
                                <a class="dropdown-item" href="/playsports">Sports</a>
                                <a class="dropdown-item" href="/playother">Other</a>
                                <a class="dropdown-item" href="/playall">Random</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="/create"><span style="font-size: 32px; text-shadow: 2px 2px 2px black;" class="navtext">CreateYourOwn</span></a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="/createhistory">History</a>
                                <a class="dropdown-item" href="/createmoviestv">Movies/TV</a>
                                <a class="dropdown-item" href="/createpopculture">Pop Culture</a>
                                <a class="dropdown-item" href="/createscience">Science</a>
                                <a class="dropdown-item" href="/createsports">Sports</a>
                                <a class="dropdown-item" href="/createother">Other</a>
                            </div>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/highscores"><span style="font-size: 32px; text-shadow: 2px 2px 2px black;" class="navtext">Highscores</span></a></li>
                    </ul>
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/logout"><span style="font-size: 32px; text-shadow: 2px 2px 2px black;" class= "navtext">LogOut</span></a></li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav ml-auto mt-2">
                        <li class="nav-item"><a class="nav-link" href="/register"><span style="font-size: 32px; text-shadow: 2px 2px 2px black;" class="navtext">Register</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="/login"><span style="font-size: 32px; text-shadow: 2px 2px 2px black;" class="navtext">LogIn</span></a></li>
                    </ul>
                {% endif %}
            </div>
        </nav>

        {% if get_flashed_messages() %}
            <header>
                <div class="alert alert-primary border text-center" role="alert">
                    {{ get_flashed_messages() | join(" ") }}
                </div>
            </header>
        {% endif %}

        <main class="container-fluid">
            {% block main %}{% endblock %}
        </main>

        <footer class="small text-center text-muted">
            <p>Data provided for free by <a href="https://iextrading.com/developer" target="_blank">IEX</a>. View <a href="https://iextrading.com/api-exhibit-a/" target="_blank">IEX’s Terms of Use</a>.</p>
            <p>Logo created with <a href="https://www.ucraft.com/free-logo-maker" target="_blank">Ucraft</a>.</p>
        </footer>

    </body>

</html>
